<table>
  <thead>
    <tr>
      <th>Separation standard</th>
      <th>Navigation capability</th>
      <th>Transponder capability</th>
      <th>Suffix</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td rowspan="5">RVSM</td>
      <td>Any</td>
      <td>Failed transponder</td>
      <td>/H</td>
    </tr>
    <tr>
      <td>Any</td>
      <td>Failed Mode C</td>
      <td>/O</td>
    </tr>
    <tr class="vatsim-supported">
      <td>No RNAV, No GNSS</td>
      <td>Transponder with Mode C</td>
      <td>/W</td>
    </tr>
    <tr class="vatsim-supported">
      <td>RNAV, No GNSS</td>
      <td>Transponder with Mode C</td>
      <td>/Z</td>
    </tr>
    <tr class="vatsim-supported">
      <td>GNSS</td>
      <td>Transponder with Mode C</td>
      <td>/L</td>
    </tr>
    <tr>
      <td rowspan="15">Non-RVSM</td>
      <td></td>
      <td>No transponder</td>
      <td>/X</td>
    </tr>
    <tr>
      <td>No DME</td>
      <td>Transponder, no Mode C</td>
      <td>/T</td>
    </tr>
    <tr class="vatsim-supported">
      <td>No DME</td>
      <td>Transponder with Mode C</td>
      <td>/U</td>
    </tr>
    <tr>
      <td>DME</td>
      <td>No transponder</td>
      <td>/D</td>
    </tr>
    <tr>
      <td>DME</td>
      <td>Transponder, no Mode C</td>
      <td>/B</td>
    </tr>
    <tr class="vatsim-supported">
      <td>DME</td>
      <td>Transponder with Mode C</td>
      <td>/A</td>
    </tr>
    <tr>
      <td>TACAN</td>
      <td>No transponder</td>
      <td>/N</td>
    </tr>
    <tr>
      <td>TACAN</td>
      <td>Transponder, no Mode C</td>
      <td>/M</td>
    </tr>
    <tr class="vatsim-supported">
      <td>TACAN</td>
      <td>Transponder with Mode C</td>
      <td>/P</td>
    </tr>
    <tr>
      <td>RNAV, No GNSS</td>
      <td>No transponder</td>
      <td>/Y</td>
    </tr>
    <tr>
      <td>RNAV, No GNSS</td>
      <td>Transponder, no Mode C</td>
      <td>/C</td>
    </tr>
    <tr class="vatsim-supported">
      <td>RNAV, No GNSS</td>
      <td>Transponder with Mode C</td>
      <td>/I</td>
    </tr>
    <tr>
      <td>GNSS</td>
      <td>No transponder</td>
      <td>/V</td>
    </tr>
    <tr>
      <td>GNSS</td>
      <td>Transponder, no Mode C</td>
      <td>/S</td>
    </tr>
    <tr class="vatsim-supported">
      <td>GNSS</td>
      <td>Transponder with Mode C</td>
      <td>/G</td>
    </tr>
  </tbody>
</table>
